
#container-charge{
    background-color: rgba(250,240,245,09);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition:all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#charge{
    border: 15px solid #ccc;
    border-top-color: #2e778d;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-animation: turn 1.5s linear infinite;
    -o-animation:turn 1.5s linear infinite;
    animation: turn 1.5s linear infinite;
}

@keyframes turn{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}