body{
    font-family: "Exo";
}

h3{
    text-align: center;
    color: rgb(83, 79, 79);
    margin:50px;
    font-weight: 600;
}

.forest-activity{
    background-image: url("../../../image/forest.jpg");
    padding:50px;
    width: 100%;
    margin:0 auto
}

.btn-dark{
    text-align: center;
}

.form-label{
    color: rgb(83, 79, 79)
}

.new-activity{
    width: 50%;
    margin: 0 auto;
}

.btn-new{
    background-color: rgb(70, 97, 64);
    margin-top:30px  
}

.div-new{
    text-align: center;
}

